services:
  pmanager-service:
    build: .
    environment:
      - DB_HOST=postgres-service         
      - DB_PORT=5432
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      postgres-service:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/var/log

  postgres-service:
    image: postgres:18-bookworm
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d postgres"]
      interval: 1s
      timeout: 5s
      retries: 10

volumes:
  pgdata: